__pycache__/

*.egg-info/
*.egg

.*-version

.cache

.env
.env.ci
.coverage
/*.yaml
/db/**/*.yml
!/db/**/*.sample.yml

/bin/deliver
/bin/gitlab-ci-multi-runner

/lib/*_local*
/lib/*sdk*

/venv*

/static/*
!/static/.gitignore
!/static/*.txt

/*-sdk*
/bin/*.sh

/tmp/_cache/*
/tmp/log/*
!/tmp/log/.gitignore
