__pycache__/

*.egg-info/
*.egg

.cache

.env
.env.ci
.coverage
/*.yaml
/db/**/*.yml
!/db/**/*.sample.yml

/bin/gitlab-ci-multi-runner
/lib/*_local*
/lib/*sdk*

/venv*

/static/*
!/static/.gitignore

/*-sdk*
/bin/*.sh

/tmp/logs/*
/tmp/_cache/*
!/tmp/logs/.gitignore
